/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.antialiased {
  height: 100vh;
  display: grid;
  grid-template-columns: 220px 1fr;
}

.anti-anti-aliased {
  height: 100vh;
  display: grid;
  grid-template-columns: 60px 1fr;
}
